h4 {
  margin-bottom: 0px;
  margin-top: 80px;
}

html, body {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}

p {
  line-height: 2rem;
}

.barley {
	width: 100% !important;
	padding-bottom: 34.97% !important;
  /*height: 300px;*/
  display: inline-block;
  /*box-sizing: padding-box;*/
  /* 16:9 */
	position: relative;
  background: url('../assets/images/ticket.jpg') no-repeat;
  background-size: 100%;
  margin-top: 10px;
}

.hops {
  text-align: center;
  /*padding: 10% 30% 15% 20%;*/
	top: 10%; bottom: 0; left: 0; right: 0;
  /*margin: 0;*/
  position: absolute;
  /*box-sizing: padding-box;*/
  font-size: 2vw;
  color: black;
}

.logo {
  height: 60px;
}

.button-collapse {
  color: #26a69a;
}

.artist-bar {
  border-radius: 5px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, .6) !important;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 700px) {
  nav ul a.btn {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 760px) {
  nav ul a.btn {
    margin-top: 64px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0 0 5px 5px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .logo {
    height: 52px;
  }

  nav ul a.btn {
    margin-top: 56px;
    border-radius: 0 0 5px 5px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.page-footer {
   position:fixed;
   left:0px;
   bottom:-100px;
   width:100%;
   z-index:300;
   display: none;
}

@media only screen and (max-width : 992px) {
  .page-footer {
    bottom: -50px;
  }
}

@media only screen and (max-width : 600px) {
  .page-footer {
    bottom: 0px;
  }
}

.row-form {
  margin-bottom: 0;
}

div.section.parallax-container {
  padding-bottom: 100px;
}


/* input, select, and label styling */
   .input-field label {
     color: #ee6e73;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #666;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #666;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid, .input-field input[type=password].valid {
     border-bottom: 1px solid #73ee6e;
     box-shadow: 0 1px 0 0 #73ee6e;
   }

   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #ee6e73;
     box-shadow: 0 1px 0 0 #ee6e73;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

   .select-wrapper input.select-dropdown.valid {
     border-bottom: 1px solid #73ee6e;
     box-shadow: 0 1px 0 0 #73ee6e;
   }

   .select-wrapper input.select-dropdown.invalid {
     border-bottom: 1px solid #ee6e73;
     box-shadow: 0 1px 0 0 #ee6e73;
   }

   .dropdown-content li>a, .dropdown-content li>span {
     color: #ee6e73;
   }

   label.select-label {
     color: #666;
   }

   .select-wrapper+label {
     position: absolute;
     top: .8rem;
     color: #ee6e73;
     font-size: 1rem;
   }

   .select-wrapper+label.valid {
     position: absolute;
     top: -14px;
     color: #666;
     font-size: .8rem;
   }

   .input-field label.active {
     position: absolute;
     top: -.8rem;
     color: #666;
   }

   .login-form .input-field label.active {
     position: absolute;
     top: .8rem;
     left: 0;
     color: #666;
   }

   .registration-form .input-field label.active {
     position: absolute;
     top: .8rem;
     color: #666;
   }


 .hops:first-child {
   margin-top: 30px;
 }

 .hops p {
   padding-right: 125px;
   font-size: 28px;
   margin-bottom: 10px;
 }

 @media only screen and (max-width: 992px) {
   .hops p {
     padding-right: 80px;
     font-size: 22px;
     margin-bottom: 10px;
     margin-top: 0;
   }

   .hops:first-child {
     margin-top: 20px;
   }
 }

 @media only screen and (max-width: 720px) {
   .hops p {
     padding-right: 60px;
     font-size: 18px;
     margin-bottom: 5px;
     margin-top: 0;
   }

   .hops:first-child {
     margin-top: 10px;
   }
 }

 @media only screen and (max-width: 600px) {
   .hops p {
     padding-right: 80px;
     font-size: 18px;
     margin-bottom: 5px;
     margin-top: 0;
   }

   .hops:first-child {
     margin-top: 10px;
   }
 }

 @media only screen and (max-width: 480px) {
   .hops p {
     padding-right: 60px;
     font-size: 16px;
     margin-bottom: 0;
     margin-top: 0;
   }

   .hops:first-child {
     margin-top: 0px;
   }
 }
