html, body {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}

.logo {
  height: 4.3rem;
}

p {
  line-height: 2rem;
}

h4 {
  margin-bottom: 0px;
  margin-top: 80px;
}
.button-collapse {
  color: #26a69a;
}
.artist-bar {
  border-radius: 5px;
  margin-bottom: 0px;
}
.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#top {
   position:fixed;
   left:0px;
   bottom:-100px;
   width:100%;
   z-index:300;
   display: none;
}

#event-container {
  padding-bottom: 100px;
}
