html, body {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}

.favart {
  margin-top: 0;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
}

.favart .ccauid, .collection-header {
  cursor: pointer;
}

.collection.with-header .collection-header:hover {
  background-color: rgba(179,17,26,1);
}

div.card {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid white;
}

.logo {
  height: 4.3rem;
}

.img {
  background-image: url('../assets/images/crowd_header.jpg');
  background-size: contain;
  border: 1px solid black;
}

.barley {
	width: 100% !important;
	padding-bottom: 34.97% !important;
  /*height: 300px;*/
  display: inline-block;
  /*box-sizing: padding-box;*/
  /* 16:9 */
	position: relative;
  background: url('../assets/images/ticket.jpg') no-repeat;
  background-size: 100%;
  margin-top: 10px;
}

.hops {
  text-align: center;
	top: 0%; bottom: 0; left: 0; right: 0;
  position: absolute;
  font-size: 2vw;
}

.collection.with-header .collection-header, .collection-item.avatar {
  background-color: rgba(201,161,43,1);
  /*background-color: rgba(179,89,17,1);*/
}

.collection.with-header .collection-header, .collection .collection-item {
  border-bottom: 1px solid black;
}

h2 {
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
  border: black 1px solid;
}

h2.upcoming {
  border-radius: 5px 5px 5px 5px;
}

.search-margin {
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
}

.artist-bar {
  margin-top: 0;
}

.section-round {
  border-radius: 5px 5px 0 0;
}

.btn-large {
  margin-top: 17px;
  margin-right: 30px;
}

.search.btn-large:hover {
  box-shadow: 0 5px 11px 0 rgba(255, 0, 0, 0.18),0 4px 15px 0 rgba(255, 0, 0, 0.15);
}

.search.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(255, 0, 0, 0.3),0 17px 50px 0 rgba(255, 0, 0, 0.3);
}

nav ul a.btn {
  margin-right: 60px;
}

@media only screen and (max-width: 760px) {
  nav ul a.btn {
    margin-top: 72px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.hops:first-child {
  margin-top: 25px;
}

.hops p {
  padding-right: 125px;
}

@media only screen and (max-width: 992px) {
  .hops p {
    padding-right: 80px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .hops:first-child {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 720px) {
  .hops p {
    padding-right: 60px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .hops:first-child {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .hops p {
    padding-right: 80px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .hops:first-child {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .hops p {
    padding-right: 60px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .hops:first-child {
    margin-top: 25px;
  }
}
